.door-container {
    position: relative;
    width: 250px;
    height: 400px;
    perspective: 1000px;
  }
  
  .door {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .door.open {
    transform: rotateY(-110deg);
  }
  
  .door-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #855b43;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    transform-origin: left;
  }
  
  .door-leaf {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #614235;
  }
  
  .door-knob {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
  }
  
  .door-text {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s, top 1s;
  }
  
  .door-text.show {
    opacity: 1;
    top: 50%;
  }
  
  .door-text ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .door-text ul li {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .door-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .door-button:hover {
    background-color: #1565c0;
  }
  